.find_container {
  background-color: var(--color-secondary);

  /* height: 100%;
  width: auto; */
  width: 100%;
  height: 100vh;
}
.search_box {
  height: 60%;
  width: 50%;
  padding: 5rem;
  margin-left: 20rem;
  margin-bottom: 5rem;
}
.search_field {
  border-top: 2px solid var(--color-primary);
  border-left: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
  margin-bottom: 2rem;
}
.form__label {
  top: -2rem;
  font-size: 1.1rem;
}
.doc_find_btn {
  background-color: var(--color-primary);
  border-radius: 10%;
  border: 2px solid var(--color-primary);
  display: block;
  margin: 0 auto;
}
/*
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 40%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.623);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: -0.7rem;
  display: block;
  transition: 0.2s;
  font-size: 0.7rem;
  color: var(--color-primary);
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  border-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(96, 138, 212, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: -0.5rem;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--color-primary);
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.doc__profile {
  max-width: 1140px;
  margin: auto;
  margin-top: 2rem;
}
.doc__profile_heading {
  font-size: 1.3rem;
}
.app_slot {
  margin: 4rem auto;
  max-width: 20rem;
}
.doc_profile_btn {
  background-color: var(--color-primary);
  display: block;
  margin: 2rem auto;
  border: 1px solid var(--color-primary);
}
.doc-list {
  display: flex;
}
