.auth__container {
  background-color: var(--color-secondary);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__img {
  height: 25rem;
  width: auto;
  margin-right: 3rem;
}

.form__container {
  flex-basis: 40%;
}
.form__div {
  display: grid;
  grid-template-columns: 7% 93%;
  grid-template-rows: 30% 70%;
  margin-bottom: 0.3rem;
  padding: 0.25rem 0;
}
.form__heading {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}
.form__div-input {
  display: flex;
  flex-direction: column;
}
.form__div-icon {
  font-size: 1.4rem;
  margin-top: -0.4rem;
}
.form___label {
  margin-left: -0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.form__input {
  margin-left: -1.9rem;
  padding: 0.3rem;
  border: none;
  background-color: var(--color-secondary-dark);
}
.form__input:focus {
  outline: red;
  border: 2px solid var(--color-primary);
}
.auth__button {
  display: block;
  margin: auto;
  margin-top: 1.2rem;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.3rem 1rem;
  border: none;
  transition: transform 0.3s ease-in;
}
.auth__button:hover {
  transform: scale(0.9);
  color: #fff;
}
.auth__button:focus {
  outline: none;
}
