._navbar {
  background-color: var(--color-dashboard-primary);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
}
.nav-items {
  margin: 0 1rem;
}
.nav-items p {
  font-size: 1.2rem;
  color: white;
  font-weight: 400;
  margin-bottom: -0.2rem;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 1.5rem;
  background: none;
  position: absolute;
  z-index: 10;
  font-weight: bold;
}

.nav-menu {
  background-color: var(--color-dashboard-primary);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.nav-text a:hover {
  background-color: var(--color-primary-light);
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: var(--color-dashboard-primary);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

/***** Pages  *****/
.marginOut {
  margin-left: 13rem;
}
