/*** Common Attributes ***/
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  /* width: 40%; */
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.623);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form___label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.form___label {
  position: absolute;
  top: -0.7rem;
  display: block;
  transition: 0.2s;
  font-size: 0.7rem;
  color: var(--color-primary);
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  border-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(96, 138, 212, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-image-slice: 1;
}
.form__field:focus ~ .form___label {
  position: absolute;
  top: -0.5rem;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--color-primary);
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/*** Page 1 ****/
.home {
  /* background-color: skyblue; */
  /* height: auto;
  width: auto; */
  margin-right: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  /* align-items: stretch; */
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
}

h4 {
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-primary-light);
  width: 98%;
}

.dashboard {
  margin-top: 1rem;
  margin-left: 14rem;
}
.radio_data {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--color-primary);
}
.radio_btn {
  margin: 0 0.5rem;
  font-size: 1.1rem;
}
.radio_btn_first {
  margin-left: 0rem;
}

.dashboard_button {
  color: #fff;
  background-color: var(--color-primary);
  margin-top: 2rem;
  font-size: 1rem;
  position: absolute;
  bottom: 1.2rem;
  right: 0.5rem;
  border: 1px sole var(--color-primary);
}

/** Page 2 **/
.doc_visit {
  background-color: red;
  height: 15rem;
  width: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
h6 {
  background-color: var(--color-primary-light-extra);
  padding: 0.5rem 0;
  padding-left: 0.8rem;
  margin-right: 1rem;
}
.app_head {
  background-color: var(--color-primary-light-extra);
}
.doc_app_btn {
  color: #fff;
  background-color: var(--color-primary);
  display: block;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 10rem;
  font-size: 0.8rem;
  border: 1px solid var(--color-primary);
}
.doc_table {
  margin-right: 1rem;
  margin-top: 1rem;
}
/*** Page 4 ***/
.drug_allergies {
  margin-left: 14rem;
}
.drug_allergies h6 {
  margin-bottom: 2rem;
}
.allergies_btn {
  width: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/*** Page 5 ***/

.pain_heading {
  margin: 0.6rem 0;
}
.pain_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pain_img img {
  margin-bottom: 3rem;
}
/*** Page 6 ***/
.history_btn {
  max-width: 5rem;
  position: absolute;
  top: 7rem;
  right: 7rem;
}
.history_head {
  margin-top: 5rem;
}
.history_btn_2 {
  max-width: 15rem;
  font-size: 0.7rem;
}
/*** Page 7 ***/
.up_container {
  margin-top: 6rem;
  margin-left: 1.5rem;
}
.upload_reports {
  background-color: var(--color-secondary-dark);
  height: 20rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.up_text h4 {
  font-size: 1.7rem;
  border: none;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: 2rem;
}
.up_text p {
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: -1.5rem;
}
